<div class="contextual">
  <%= link_to t('.new_risk'), new_risk_path, :class => 'icon icon-add' %>
</div>

<h2>Risks</h2>

<div class="autoscroll">
<table class="list issues">
  <tr>
    <th>#</th>
    <th>Title</th>
    <th>Status</th>
    <th>Identification date</th>
    <th>Priority</th>
    <th></th>
    <th></th>
  </tr>

<% @risks.each do |risk| %>
  <tr>
    <td><%= link_to risk.id, show_risk_path(risk_id: risk.id) %></td>
    <td><%= risk.title %></td>
    <td><%= risk.status %></td>
    <td><%= risk.identification_date %></td>
    <td><%= risk.priority %></td>
    <td><%= link_to 'Edit', edit_risk_path(risk_id: risk.id), class: 'icon icon-edit' %></td>
    <td><%= link_to 'Destroy', destroy_risk_path(risk_id: risk.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'icon icon-del' %></td>
  </tr>
<% end %>
</table>
</div>

<br />
<hr />
<%= render :template => 'action_plans/index' %>