<div class="contextual">
  <%= link_to_function t('back'), "history.back()", :class => 'icon icon-reload' %>
  <%= link_to t('edit'), edit_risk_path(risk_id: @risk.id), :class => 'icon icon-edit' %>
  <%= link_to t('Destroy'), destroy_risk_path(risk_id: @risk.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'icon icon-del' %>
</div>

<h2>
  <%=t('risk') %> #<%= @risk.id %>
</h2>

<div class="issue">
  <div class="subject">
    <h3>Title:
      <%= @risk.title %>
    </h3>
  </div>
  <br />

  <table class="attributes">
    <tr>
      <th>Status:</th>
      <td><%= @risk.to_status %></td>
      <th>Effort:</th>
      <td><%= @risk.effort %></td>
    </tr>

    <tr>
      <th>Origin:</th>
      <td><%= @risk.to_origin %></td>
      <th>Cost:</th>
      <td><%= @risk.cost %></td>
    </tr>

    <tr>
      <th>Description:</th>
      <td><%= @risk.description %></td>
    </tr>

    <tr>
      <th>Source:</th>
      <td><%= @risk.source %></td>
      <th>Identification date:</th>
      <td><%= @risk.identification_date %></td>
    </tr>

    <tr>
      <th>Category:</th>
      <td><%= @risk.category %></td>
      <th>Created by:</th>
      <td><%= @risk.created_by %></td>
    </tr>

    <tr>
      <th>Probability:</th>
      <td><%= @risk.probability %></td>
      <th>Assigned to:</th>
      <td><%= @risk.assigned_to %></td>
    </tr>

    <tr>
      <th>Impact:</th>
      <td><%= @risk.impact %></td>
      <th>Strategy:</th>
      <td><%= @risk.to_strategy %></td>
    </tr>

    <tr>
      <th>Priority:</th>
      <td><%= @risk.priority %></td>
    </tr>

    <tr>
      <th>Trigger:</th>
      <td><%= @risk.trigger %></td>
    </tr>
  </table>
  <hr />

  <div class="contextual">
    <%= link_to t('.new_action'), new_action_plan_path(risk_id: @risk.id), :class => 'icon icon-add' %>
  </div>

  <%= render :template => 'action_plans/index' %>

</div>