<%= error_messages_for 'action_plan' %>

<div class='box tabular new_issue'>
  <%= form_for(@action_plan, url: update_action_plan_path(action_plan_id: @action_plan.id)) do |f| %>
      <div class="splitcontentright">
        <p>
          <%= f.label t('action_plan.attributes.effective') %>
          <%= f.check_box :effective %>
        </p>
      </div>
      <p>
        <label for="action_plan_title"><%= t('action_plan.attributes.title') %> <span class="required">*</span></label>
        <%= f.text_field :title%>
      </p>
      <p>
        <%= f.label t('action_plan.attributes.kind') %>
        <%= f.select(:kind, options_for_select(options_for_kind, @action_plan.kind), prompt: t('action_plans.form.select_one_kind')) %>
      </p>
      <p>
        <%= f.label t('action_plan.attributes.description') %>
        <%= f.text_area :description, :class => 'wiki-edit', :rows => 10, :cols => 60 %>
      </p>
      <p>
        <%= f.label t('action_plan.attributes.assigned_to') %>
        <%= f.collection_select(:assigned_to, User.joins(:members).where("members.project_id = ?", @project.id), :id, :name, prompt: t('action_plans.form.select_one_member') ) %>
      </p>
      <p>
        <%= f.label t('action_plan.attributes.term') %>
        <%= f.text_field :term %>
        <%= calendar_for('action_plan_term') %>
      </p>
      <p>
        <%= f.label t('action_plan.attributes.finish_date') %>
        <%= f.text_field :finish_date %>
        <%= calendar_for('action_plan_finish_date') %>
      </p>
      <p>
        <%= label_tag t('action_plans.form.associated_risk') %>
        <%= text_field_tag '', @action_plan.risk.title, readonly: true %>
      </p>
      <p>
        <%= f.submit t('update') + ' ' + ActionPlan.model_name.human(count: 1)%>
      </p>
  <% end %>
</div>